# Stock

---

## Starter Code

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pathlib import Path


### retrive stock from cvs files

In [9]:
# Read saved data
stock_GD_df = pd.read_csv("output_data/stock_GD.csv")
stock_RTX_df = pd.read_csv("output_data/stock_RTX.csv")
stock_LMT_df = pd.read_csv("output_data/stock_LMT.csv")


stock_GD_df = stock_GD_df.drop(columns=["Unnamed: 0"])
stock_RTX_df = stock_RTX_df.drop(columns=["Unnamed: 0"])
stock_LMT_df = stock_LMT_df.drop(columns=["Unnamed: 0"])


# Display sample data
print(stock_GD_df.head())
print(stock_RTX_df.head())
print(stock_LMT_df.head())

                       Date  Open_GD  Close_GD  Volume_GD Symbol_GD
0  2024-08-30T00:00:00+0000   297.53    299.36  1033038.0        GD
1  2024-08-29T00:00:00+0000   298.00    297.83  1640388.0        GD
2  2024-08-28T00:00:00+0000   290.99    296.64  1553612.0        GD
3  2024-08-27T00:00:00+0000   291.01    290.20  1005336.0        GD
4  2024-08-26T00:00:00+0000   292.45    291.00   814847.0        GD
                       Date  Open_RTX  Close_RTX  Volume_RTX Symbol_RTX
0  2024-08-30T00:00:00+0000    122.05     123.34   6371993.0        RTX
1  2024-08-29T00:00:00+0000    121.09     122.29   3547768.0        RTX
2  2024-08-28T00:00:00+0000    119.77     120.84   4287172.0        RTX
3  2024-08-27T00:00:00+0000    118.68     119.49   4101156.0        RTX
4  2024-08-26T00:00:00+0000    118.69     118.70   6260578.0        RTX
                       Date  Open_LMT  Close_LMT  Volume_LMT Symbol_LMT
0  2024-08-30T00:00:00+0000    564.97     568.10   1082809.0        LMT
1  2024-08-29T00:00:00+0000    564.00     566.85    662411.0        LMT
2  2024-08-28T00:00:00+0000    562.20     563.98    829250.0        LMT
3  2024-08-27T00:00:00+0000    559.45     560.41    749757.0        LMT
4  2024-08-26T00:00:00+0000    556.11     558.10    795353.0        LMT

In [12]:
## Merge data
Merge_1 = pd.merge(stock_GD_df, stock_RTX_df, on = "Date")
stock_data_df = pd.merge(Merge_1, stock_LMT_df, on = "Date" )
stock_data_df.head()

,Date,Open_GD,Close_GD,Volume_GD,Symbol_GD,Open_RTX,Close_RTX,Volume_RTX,Symbol_RTX,Open_LMT,Close_LMT,Volume_LMT,Symbol_LMT
0,2024-08-30T00:00:00+0000,297.53,299.36,1033038.0,GD,122.05,123.34,6371993.0,RTX,564.97,568.10,1082809.0,LMT
1,2024-08-29T00:00:00+0000,298.00,297.83,1640388.0,GD,121.09,122.29,3547768.0,RTX,564.00,566.85,662411.0,LMT
2,2024-08-28T00:00:00+0000,290.99,296.64,1553612.0,GD,119.77,120.84,4287172.0,RTX,562.20,563.98,829250.0,LMT
3,2024-08-27T00:00:00+0000,291.01,290.20,1005336.0,GD,118.68,119.49,4101156.0,RTX,559.45,560.41,749757.0,LMT
4,2024-08-26T00:00:00+0000,292.45,291.00,814847.0,GD,118.69,118.70,6260578.0,RTX,556.11,558.10,795353.0,LMT